body {
    margin-right: 0;
    margin-left: 0;
    background-color: #3AD5B5
}

.autor {
    text-align: center;
    /* margin-left: 30%;
    margin-right: 50%; */
    font-family: cursive;
}

.foto-apresentacao {
    background-image: url("./ressources/IMG_20191124_015519-removebg-preview-removebg-preview.png");
    background-size: cover;
    background-position-y: 35%;
    background-position-x: 70%;
    padding-left: 30px;
    font-weight: bolder;
}

button {
    font-family: cursive;
    background-color: #006FAB;
    padding: 0.50em;
}

button a {
    text-decoration: none;
    color: black;
    font-size: large;
}

button img {
    height: 15px;
}

.texto-apresentacao {
    max-width: 50%;
    font-size: larger;
    font-weight: bolder;
}

.centralizar {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

img.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.levitar {
    display: inline-block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.levitarProjetos {
    display: inline-block;
    position: relative;
    margin-right: 80px;
    margin-left: auto;
}

.habilidades {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projectLink {
    color: black;
}